.vs/
.vscode/

/StaticSiteGenerator/bin/
/StaticSiteGenerator/obj/
/StaticSiteGenerator/*.user

*.suo
*.userosscache
*.sln.docstates
*.bat
.claude/
/ANALISE_VALIDACOES.md
/IMPLEMENTACAO_FASE1.md
/ANALISE_VALIDACOES.md
/ALTERACOES_BRANCH.md
